<div id="game-container" style="width: 100%; height: 750px; background: #0a1f0a; border: 3px solid #00ff88; border-radius: 15px; overflow: hidden; position: relative; outline: none;" tabindex="0">
  <div id="game-loading" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #00ff88; font-size: 24px; z-index: 10;">Loading Phaser.js...</div>
  <div id="combat-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; z-index: 1000;"></div>
</div>

<script>
  // Game data from server
  window.GAME_DATA = {
    currentLevel: <%= @current_level %>,
    levelName: '<%= Lesson::BPMF_GROUPS[@current_level]&.dig(:name) || "Level #{@current_level}" %>',
    levelCompletions: <%= @level_completions.to_json.html_safe %>,
    bpmfLessons: <%= @bpmf_lessons.map { |l| { order: l.order, bpmf: l.bpmf_symbol, pinyin: l.pronunciation } }.to_json.html_safe %>,
    expectedBpmf: <%= Lesson::BPMF_GROUPS[@current_level]&.dig(:bpmf_symbols).to_json.html_safe %>
  };
</script>

<%= javascript_include_tag 'game/game-config', 'game/game-state', 'game/phaser-loader', 'game/assets', 'game/enemies', 'game/ui', 'game/keyboard', 'game/combat', 'game/game', 'game/main' %>
